APP_ENV=development
APP_TIMEZONE=UTC
APP_URL=http://localhost/global-freelance-marketplace/public
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=global_freelance_marketplace
DB_USERNAME=root
DB_PASSWORD=
